# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Environment
.env

# Data and config files
data/
config/

# Session files
*.session
*.session-journal

# OS specific
.DS_Store
Thumbs.db

auth.py